*{
	margin: 0;
	padding: 0;
}

h1{
	background: lighten(orange, 10%);
	padding: 40px;
	text-align: center;
}


h2{
	text-align: center;
	color: purple;
}

button{
	padding: 10px 30px;
}

body{
	padding: 40px;
	background: orangered;
}